Repository DevelopLife/reviewtwits_backend, pull requests merged in 2023-03, with the labels that each got.

#38 Feature/api specification api명세서 작업 끝
  build.gradle
  src/main/java/com/developlife/reviewtwits/config/JacksonConfig.java
  src/main/java/com/developlife/reviewtwits/config/WebMvcConfig.java
  src/main/java/com/developlife/reviewtwits/config/security/WebSecurityConfig.java
  src/main/java/com/developlife/reviewtwits/controller/EmailController.java
  src/main/java/com/developlife/reviewtwits/controller/UserController.java
  src/main/java/com/developlife/reviewtwits/entity/EmailVerify.java
  src/main/java/com/developlife/reviewtwits/entity/User.java
  src/main/java/com/developlife/reviewtwits/exception/mail/MailSendException.java
  src/main/java/com/developlife/reviewtwits/exception/user/VerifyCodeException.java
  src/main/java/com/developlife/reviewtwits/handler/ExceptionHandlerTool.java
  src/main/java/com/developlife/reviewtwits/handler/MailExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/UserExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/ValidExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/mapper/UserMapper.java
  src/main/java/com/developlife/reviewtwits/message/request/user/RegisterUserRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/user/UserInfoRequest.java
  src/main/java/com/developlife/reviewtwits/message/response/ErrorResponse.java
  src/main/java/com/developlife/reviewtwits/message/response/user/UserDetailInfoResponse.java
  src/main/java/com/developlife/reviewtwits/repository/EmailVerifyRepository.java
  src/main/java/com/developlife/reviewtwits/service/EmailService.java
  src/main/java/com/developlife/reviewtwits/service/UserService.java
  src/test/java/com/developlife/reviewtwits/ApiTest.java
  src/test/java/com/developlife/reviewtwits/DocumentFormatGenerator.java
  src/test/java/com/developlife/reviewtwits/user/UserApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserDocsFields.java
  src/test/java/com/developlife/reviewtwits/user/UserServiceTest.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
  src/test/resources/org/springframework/restdocs/templates/custom-response-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/path-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/response-fields.snippet
Labels: feat

#42 Feature/api specification - 로그인 관련 작업 완료
  build.gradle
  src/main/java/com/developlife/reviewtwits/ReviewtwitsApplication.java
  src/main/java/com/developlife/reviewtwits/config/security/WebSecurityConfig.java
  src/main/java/com/developlife/reviewtwits/controller/EmailController.java
  src/main/java/com/developlife/reviewtwits/controller/UserController.java
  src/main/java/com/developlife/reviewtwits/entity/EmailVerify.java
  src/main/java/com/developlife/reviewtwits/entity/User.java
  src/main/java/com/developlife/reviewtwits/exception/common/DateParseException.java
  src/main/java/com/developlife/reviewtwits/exception/mail/NoContentMatchInfoException.java
  src/main/java/com/developlife/reviewtwits/exception/mail/NotFoundMatchInfoException.java
  src/main/java/com/developlife/reviewtwits/exception/mail/VerifyCodeException.java
  src/main/java/com/developlife/reviewtwits/handler/CommonExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/FileExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/MailExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/mapper/CommonMapper.java
  src/main/java/com/developlife/reviewtwits/mapper/UserMapper.java
  src/main/java/com/developlife/reviewtwits/message/request/email/FindIdsEmailRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/email/FindPwEmailRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/user/RegisterUserRequest.java
  src/main/java/com/developlife/reviewtwits/message/response/email/FindIdsEmailResponse.java
  src/main/java/com/developlife/reviewtwits/repository/EmailVerifyRepository.java
  src/main/java/com/developlife/reviewtwits/repository/RefreshTokenRepository.java
  src/main/java/com/developlife/reviewtwits/repository/UserRepository.java
  src/main/java/com/developlife/reviewtwits/service/EmailService.java
  src/main/java/com/developlife/reviewtwits/service/UserService.java
  src/main/java/com/developlife/reviewtwits/service/email/EmailCodeSender.java
  src/main/java/com/developlife/reviewtwits/service/email/EmailLinkSender.java
  src/main/java/com/developlife/reviewtwits/service/email/EmailSender.java
  src/main/java/com/developlife/reviewtwits/service/email/EmailService.java
  src/main/java/com/developlife/reviewtwits/type/EmailType.java
  src/test/java/com/developlife/reviewtwits/CommonDocument.java
  src/test/java/com/developlife/reviewtwits/DocumentFormatProvider.java
  src/test/java/com/developlife/reviewtwits/MockTests.java
  src/test/java/com/developlife/reviewtwits/ReviewtwitsApplicationTests.java
  src/test/java/com/developlife/reviewtwits/email/EmailApiTest.java
  src/test/java/com/developlife/reviewtwits/email/EmailDocument.java
  src/test/java/com/developlife/reviewtwits/email/EmailSteps.java
  src/test/java/com/developlife/reviewtwits/user/UserApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserDocument.java
  src/test/java/com/developlife/reviewtwits/user/UserServiceTest.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
Labels: feat

#48 Feature/project crud Finished
  src/main/java/com/developlife/reviewtwits/config/security/WebSecurityConfig.java
  src/main/java/com/developlife/reviewtwits/controller/ProjectController.java
  src/main/java/com/developlife/reviewtwits/entity/BaseEntity.java
  src/main/java/com/developlife/reviewtwits/entity/EmailVerify.java
  src/main/java/com/developlife/reviewtwits/entity/Project.java
  src/main/java/com/developlife/reviewtwits/entity/RefreshToken.java
  src/main/java/com/developlife/reviewtwits/entity/User.java
  src/main/java/com/developlife/reviewtwits/exception/project/ProjectIdNotFoundException.java
  src/main/java/com/developlife/reviewtwits/exception/user/AccessResourceDeniedException.java
  src/main/java/com/developlife/reviewtwits/handler/ProjectExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/UserExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/mapper/ProjectMapper.java
  src/main/java/com/developlife/reviewtwits/mapper/UserMapper.java
  src/main/java/com/developlife/reviewtwits/message/request/project/FixProjectRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/project/RegisterProjectRequest.java
  src/main/java/com/developlife/reviewtwits/message/response/project/ProjectInfoResponse.java
  src/main/java/com/developlife/reviewtwits/message/response/project/ProjectSettingInfoResponse.java
  src/main/java/com/developlife/reviewtwits/repository/ProjectRepository.java
  src/main/java/com/developlife/reviewtwits/service/ProjectService.java
  src/main/java/com/developlife/reviewtwits/service/UserService.java
  src/main/java/com/developlife/reviewtwits/type/project/Language.java
  src/main/java/com/developlife/reviewtwits/type/project/ProjectCategory.java
  src/main/java/com/developlife/reviewtwits/type/project/ProjectPricePlan.java
  src/test/java/com/developlife/reviewtwits/project/ProjectApiTest.java
  src/test/java/com/developlife/reviewtwits/project/ProjectDocument.java
  src/test/java/com/developlife/reviewtwits/project/ProjectSteps.java
  src/test/java/com/developlife/reviewtwits/user/UserApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
Labels: feat

#64 [FEAT] Entity @Transcient 에 원하는 정보 주입해 반환하는 기능 구현
  src/main/java/com/developlife/reviewtwits/entity/FileInfo.java
  src/main/java/com/developlife/reviewtwits/entity/FileManager.java
  src/main/java/com/developlife/reviewtwits/repository/FileManagerRepository.java
  src/main/java/com/developlife/reviewtwits/service/FileStoreService.java
  src/test/java/com/developlife/reviewtwits/file/BasicFileUploadTest.java
  src/test/java/com/developlife/reviewtwits/file/FileDownloadDocument.java
Labels: feat

#65 [feature] 쇼핑몰 리뷰 작성을 위한 API 구현
  build.gradle
  src/main/java/com/developlife/reviewtwits/controller/ShoppingMallReviewController.java
  src/main/java/com/developlife/reviewtwits/controller/UserController.java
  src/main/java/com/developlife/reviewtwits/entity/FileInfo.java
  src/main/java/com/developlife/reviewtwits/entity/FileManager.java
  src/main/java/com/developlife/reviewtwits/entity/Product.java
  src/main/java/com/developlife/reviewtwits/entity/Review.java
  src/main/java/com/developlife/reviewtwits/exception/product/ProductNotFoundException.java
  src/main/java/com/developlife/reviewtwits/handler/ProductExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/ValidExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/message/annotation/review/ImageFiles.java
  src/main/java/com/developlife/reviewtwits/message/annotation/review/MultipartInteger.java
  src/main/java/com/developlife/reviewtwits/message/request/review/ReviewProductURLRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/review/ShoppingMallReviewWriteRequest.java
  src/main/java/com/developlife/reviewtwits/message/response/review/ShoppingMallReviewProductResponse.java
  src/main/java/com/developlife/reviewtwits/message/validator/review/ImageFileValidator.java
  src/main/java/com/developlife/reviewtwits/message/validator/review/MultipartIntegerValidator.java
  src/main/java/com/developlife/reviewtwits/repository/ProductRepository.java
  src/main/java/com/developlife/reviewtwits/repository/ReviewRepository.java
  src/main/java/com/developlife/reviewtwits/service/ShoppingMallReviewService.java
  src/main/java/com/developlife/reviewtwits/service/user/UserService.java
  src/test/java/com/developlife/reviewtwits/file/BasicFileUploadTest.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewApiTest.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewDocument.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewSteps.java
  src/test/java/com/developlife/reviewtwits/user/UserDocument.java
Labels: feat, test

#68 [feature] 쇼핑몰 리뷰 삭제 기능 구현
  src/main/java/com/developlife/reviewtwits/controller/ShoppingMallReviewController.java
  src/main/java/com/developlife/reviewtwits/entity/Review.java
  src/main/java/com/developlife/reviewtwits/exception/review/CannotHandleReviewException.java
  src/main/java/com/developlife/reviewtwits/exception/review/ReviewNotExistException.java
  src/main/java/com/developlife/reviewtwits/handler/ReviewExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/mapper/ReviewMapper.java
  src/main/java/com/developlife/reviewtwits/message/response/review/DetailReviewResponse.java
  src/main/java/com/developlife/reviewtwits/service/ShoppingMallReviewService.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewApiTest.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewDocument.java
Labels: feat, test

#76 [feature] 리뷰 수정 관련 API 기능 추가
  src/main/java/com/developlife/reviewtwits/controller/ShoppingMallReviewController.java
  src/main/java/com/developlife/reviewtwits/message/request/review/ShoppingMallReviewChangeRequest.java
  src/main/java/com/developlife/reviewtwits/message/validator/review/MultipartIntegerValidator.java
  src/main/java/com/developlife/reviewtwits/repository/FileInfoRepository.java
  src/main/java/com/developlife/reviewtwits/service/FileStoreService.java
  src/main/java/com/developlife/reviewtwits/service/ShoppingMallReviewService.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewApiTest.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewDocument.java
Labels: feat, test

#82 [feature] SNS 형 리뷰 서비스에서 팔로우 기능 추가
  src/main/java/com/developlife/reviewtwits/controller/SnsController.java
  src/main/java/com/developlife/reviewtwits/entity/Follow.java
  src/main/java/com/developlife/reviewtwits/exception/sns/FollowAlreadyExistsException.java
  src/main/java/com/developlife/reviewtwits/handler/SnsExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/handler/UserExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/message/request/sns/FollowRequest.java
  src/main/java/com/developlife/reviewtwits/repository/FollowRepository.java
  src/main/java/com/developlife/reviewtwits/service/SnsService.java
  src/test/java/com/developlife/reviewtwits/sns/SnsApiTest.java
  src/test/java/com/developlife/reviewtwits/sns/SnsDocument.java
  src/test/java/com/developlife/reviewtwits/sns/SnsSteps.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
Labels: feat, test

#85 [feature] 팔로워, 팔로잉 유저 리스트 가져오는 기능 구현
  src/main/java/com/developlife/reviewtwits/config/WebMvcConfig.java
  src/main/java/com/developlife/reviewtwits/controller/SnsController.java
  src/main/java/com/developlife/reviewtwits/entity/Follow.java
  src/main/java/com/developlife/reviewtwits/entity/User.java
  src/main/java/com/developlife/reviewtwits/handler/ValidExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/mapper/ReviewMapper.java
  src/main/java/com/developlife/reviewtwits/mapper/UserMapper.java
  src/main/java/com/developlife/reviewtwits/message/response/user/UserInfoResponse.java
  src/main/java/com/developlife/reviewtwits/repository/FollowRepository.java
  src/main/java/com/developlife/reviewtwits/service/SnsService.java
  src/main/java/com/developlife/reviewtwits/service/user/UserService.java
  src/test/java/com/developlife/reviewtwits/sns/SnsApiTest.java
  src/test/java/com/developlife/reviewtwits/sns/SnsDocument.java
  src/test/java/com/developlife/reviewtwits/user/UserDocument.java
Labels: feat, test

#97 [feature] 크롤링 관련 기능 구현
  src/main/java/com/developlife/reviewtwits/controller/ItemController.java
  src/main/java/com/developlife/reviewtwits/controller/ProductController.java
  src/main/java/com/developlife/reviewtwits/entity/RelatedProduct.java
  src/main/java/com/developlife/reviewtwits/repository/RelatedProductRepository.java
  src/main/java/com/developlife/reviewtwits/service/ProductService.java
  src/main/java/com/developlife/reviewtwits/service/itemService.java
  src/main/java/com/developlife/reviewtwits/type/MadeMultipartFile.java
  src/test/java/com/developlife/reviewtwits/crawling/ItemApiDocument.java
  src/test/java/com/developlife/reviewtwits/crawling/ItemApiTest.java
Labels: feat, test

#102 [feature] fileStore 관련 이슈 해결 및 프로필 이미지 등록 기능 구현
  src/main/java/com/developlife/reviewtwits/controller/FileController.java
  src/main/java/com/developlife/reviewtwits/controller/UserController.java
  src/main/java/com/developlife/reviewtwits/exception/file/FileNotStoredException.java
  src/main/java/com/developlife/reviewtwits/exception/file/InvalidFilenameExtensionException.java
  src/main/java/com/developlife/reviewtwits/handler/FileExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/message/annotation/file/ImageFile.java
  src/main/java/com/developlife/reviewtwits/message/annotation/file/ImageFiles.java
  src/main/java/com/developlife/reviewtwits/message/request/ImageUpdateRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/review/ShoppingMallReviewChangeRequest.java
  src/main/java/com/developlife/reviewtwits/message/request/review/ShoppingMallReviewWriteRequest.java
  src/main/java/com/developlife/reviewtwits/message/response/user/UserDetailInfoResponse.java
  src/main/java/com/developlife/reviewtwits/message/validator/file/ImageFileValidator.java
  src/main/java/com/developlife/reviewtwits/message/validator/file/ImagesFileValidator.java
  src/main/java/com/developlife/reviewtwits/service/FileStoreService.java
  src/main/java/com/developlife/reviewtwits/service/SnsService.java
  src/main/java/com/developlife/reviewtwits/service/user/UserService.java
  src/test/java/com/developlife/reviewtwits/user/UserDocument.java
Labels: feat

#103 [feature] 유저 프로필 이미지 등록 테스트 케이스 생성 및 약간의 코드 수정
  src/main/java/com/developlife/reviewtwits/controller/UserController.java
  src/main/java/com/developlife/reviewtwits/handler/FileExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/message/request/ImageUpdateRequest.java
  src/test/java/com/developlife/reviewtwits/user/UserApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserDocument.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
Labels: test

#107 [feature] 대표상품 크롤링하는 기능 추가
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  .gitignore
  build.gradle
  src/main/java/com/developlife/reviewtwits/controller/ItemController.java
  src/main/java/com/developlife/reviewtwits/entity/ItemDetail.java
  src/main/java/com/developlife/reviewtwits/repository/ItemDetailRepository.java
  src/main/java/com/developlife/reviewtwits/service/ItemService.java
  src/main/java/com/developlife/reviewtwits/service/itemService.java
  src/test/java/com/developlife/reviewtwits/crawling/ItemApiTest.java
Labels: feat

#118 [feature] AWS EC2에 저장하는 대신 AWS S3 에 파일 업로드하도록 변경
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  build.gradle
  src/main/java/com/developlife/reviewtwits/config/AWSConfiguration.java
  src/main/java/com/developlife/reviewtwits/controller/FileController.java
  src/main/java/com/developlife/reviewtwits/exception/file/FileEmptyException.java
  src/main/java/com/developlife/reviewtwits/handler/FileExceptionHandler.java
  src/main/java/com/developlife/reviewtwits/message/request/user/RegisterUserInfoRequest.java
  src/main/java/com/developlife/reviewtwits/service/AwsS3Service.java
  src/main/java/com/developlife/reviewtwits/service/FileStoreService.java
  src/test/java/com/developlife/reviewtwits/file/BasicFileUploadTest.java
  src/test/java/com/developlife/reviewtwits/file/CheckFiletypeTest.java
  src/test/java/com/developlife/reviewtwits/file/FileApiTest.java
  src/test/java/com/developlife/reviewtwits/file/FileDownloadApiTest.java
  src/test/java/com/developlife/reviewtwits/file/FileDownloadSteps.java
  src/test/java/com/developlife/reviewtwits/file/FileUploadTest.java
  src/test/java/com/developlife/reviewtwits/shoppingmallReview/ShoppingMallReviewApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserApiTest.java
  src/test/java/com/developlife/reviewtwits/user/UserSteps.java
Labels: feat, test
